@page
@model IndexModel
@{
    ViewData["Title"] = "Testando web app";
}

<div class="jumbotron">
    <h1>.NET 💜 Azure</h1>
    <p class="lead">Example .NET app to Azure App Service.</p>
    <h2>Filipe Buba</h2>
    <p class="justify-content-xl-start">Aqui sou eu me virando </p>
</div>
